body{background-color: #a1bfff;}

/*parte arriba*/
.navbar {
  background-color: #fff;
}

.navbar img {
  margin-right: 10px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba%280,0,0,0.5%29' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.navbar-nav .nav-item .nav-link {
  color: #000;
  font-weight: bold;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #007bff;
}

/* Estilo inicio pagina*/
#inicio {
  padding-top: 5rem;
  text-align: center;
}

#inicio h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

#inicio p.lead {
  font-size: 1.25rem;
}

/* estilo sobre nosotros*/
#nosotros {
  padding-top: 5rem;
}

#nosotros h2 {
  font-size: 2rem;
  font-weight: bold;
}

/* estilo caracteristicas app */
#servicios {
  padding-top: 5rem;
  background-color: #f8f9fa;
}

#servicios h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 3rem;
}

.card {
  border: none;
  background-color: #f8f9fa;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #f8f9fa;

}

.card-text {
  font-size: 1rem;
  background-color: #f8f9fa;
}

/* estilo zona contacto */
#contacto {
  padding-top: 5rem;
}

#contacto h2 {
  font-size: 2rem;
  font-weight: bold;
}

.form-group label {
  font-weight: bold;
}

.form-control {
  margin-bottom: 1.5rem;
}

textarea.form-control {
  resize: vertical;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* ESTILO final pagina */
footer {
  padding: 1.5rem 0;
  background-color: #000;
  color: #fff;
}

footer p {
  margin: 0;
}

/*estilo foto logo*/
.fotologo{
   width: 100px;
   height: 100px;

}
.fotofiabilidad{
  width: 280px;
  height: 280px;
 display: block;
 margin: auto;
}

.fotoubicacion{
  width: 260px;
  height: 260px;
display: block;
margin: auto;
}

.fotocalidad{
  width: 280px;
  height: 280px;
}